@page "/mypasswords"
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h3>Accounts</h3>

<MudTable Items="AccountService.Accounts" Hover="true" Class="mb-2">
    <HeaderContent>
        <MudTh>Login</MudTh>
        <MudTh>Password</MudTh>
        <MudTh>URL</MudTh>
        <MudTh>Comment</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Login">@context.Login</MudTd>
        <MudTd DataLabel="Password">@context.Password</MudTd>
        <MudTd DataLabel="URL">@context.URL</MudTd>
        <MudTd DataLabel="Comment">@context.Comment</MudTd>
        <MudTd DataLabel="Edit">
            <MudIconButton OnClick="(() => ShowAccount(context.Id))"
                Icon="@Icons.Material.Filled.Edit"
                Color="Color.Primary"
                Variant="Variant.Filled">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudButton @onclick="CreateAccount" Variant="Variant.Filled" Color="Color.Primary">Create New Account</MudButton>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            await AccountService.GetAccount();
        }
        else
        {
            NavigationManager.NavigateTo("/authentication/login");
        }
    }

    void ShowAccount(int id)
    {
        NavigationManager.NavigateTo($"mypassword/{id}");
    }

    void CreateAccount()
    {
        NavigationManager.NavigateTo("/mypassword");
    }
}
